<footer class="bg-black mt-4">
    <!-- <div class="fixed left-0 bottom-0"> -->
    <div class="flex items-center py-2 ml-20 mr-20">
        <a href="index.html">
            <img src="./assets/images/logo.svg" alt="Logo peluditos"
        /></a>
        <a
            class="font-bold text-orange-400 no-underline text-[20px] ml-2"
            href="index.html"
            >Peluditos</a
        >
        <p class="text-orange-400 ml-4 text-xs">&copy; 2024</p>
    </div>
    <!-- </div> -->
</footer>
