<div class="ml-20 mr-20">
    <img src="./assets/images/happy-elena.jpg" alt="perro feliz" />
    <h1 class="text-3xl font-semibold">
        Adopta una mascota <br />salva una vida
    </h1>
    <p class="text-base">
        Estarás creando un lazo inquebrantable que traerá alegría y compañía a
        tu hogar durante años.
        <br />

        Estamos emocionados de ser parte de esta nueva aventura contigo y
        buscamos ayudarte a encontrar a tu compañero peludo perfecto.
    </p>
</div>
