<header>
    <div class="flex justify-between">
        <div class="flex items-center">
            <a href="index.html">
                <img src="./assets/images/logo.svg" alt="Logo peluditos"
            /></a>
            <a
                class="font-bold text-orange-400 no-underline text-[20px]"
                href="index.html"
                >Peluditos</a
            >
        </div>

        <div class="">
            <nav class="">
                <ul class="no-underline text-[14px]">
                    <li>
                        <a href="#" class="no-underline hover:underline"
                            >Adopta</a
                        >
                    </li>
                    <li>
                        <a href="#" class="hover:underline">Dar en adpción</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline">Sobre nosotros</a>
                    </li>
                    <li><a href="#" class="hover:underline">Contacta</a></li>
                </ul>
            </nav>
        </div>

        <div class="flex">
            <button>Dona</button>
            <button>Log in</button>
        </div>
    </div>
</header>
