<header>
    <div class="flex justify-between items-center my-4 ml-20 mr-20">
        <div class="flex items-center">
            <a href="index.html">
                <img src="./assets/images/logo.svg" alt="Logo peluditos"
            /></a>
            <a
                class="font-bold text-orange-400 no-underline text-[20px] ml-2"
                href="index.html"
                >Peluditos</a
            >

            <nav class="ml-20">
                <ul class="flex no-underline text-[14px] text-[#898989]">
                    <li>
                        <a
                            href="#"
                            class="hover:font-semibold hover:text-orange-400"
                            >Adopta</a
                        >
                    </li>
                    <li>
                        <a
                            href="#"
                            class="ml-6 hover:font-semibold hover:text-orange-400"
                            >Dar en adpción</a
                        >
                    </li>
                    <li>
                        <a
                            href="#"
                            class="ml-6 hover:font-semibold hover:text-orange-400"
                            >Sobre nosotros</a
                        >
                    </li>
                    <li>
                        <a
                            href="#"
                            class="ml-6 hover:font-semibold hover:text-orange-400"
                            >Contacta</a
                        >
                    </li>
                </ul>
            </nav>
        </div>

        <div class="flex text-[14px]">
            <button
                class="h-10 px-5 text-orange-400 transition-colors duration-150 border border-orange-400 rounded-lg focus:shadow-outline hover:bg-orange-400 hover:text-black"
            >
                Dona
            </button>
            <button
                class="ml-8 px-5 h-10 bg-orange-400 rounded-lg text-black focus:shadow-outline hover:bg-orange-500"
            >
                Log in
            </button>
        </div>
    </div>
</header>
